 <section id="viewCatalog" class="background-img">
    {{#if hotels}}
    <div class="added-hotels">
        {{>hotels isAuth=isAuth}}
    </div>
    {{else}}
    <div class="guest">
        There are no Hotels found...
    </div>
    {{/if}}
</section>