<main>
    <img id="sadFaceImg"
        src="https://raw.githubusercontent.com/Shtekata/Utilities/master/svg-png-icons/500.png"
        alt="server error code: 500" />
    <h1>Error code: 500</h1>
    {{#if error}}
    <h3 class="err500">{{error.message}}</h3>
    {{/if}}
    <button><a href="/cubes">Back</a></button>
</main>