<main>
    <h2>Expenses</h2>
    <h3>Total Amount: {{totalCost}}</h3>
    <hr>
    <h3>Total Merches: {{expensesCount}}</h3>
    <hr>
    <br>
    <h2>Available Amount: {{availableAmount}}</h2>
</main>